# mackup automatically copies these, but there's no need to version them
config/Library/Application Support/Sublime Text 3/Packages/User/Package Control.cache/
config/Library/Application Support/Sublime Text 3/Packages/User/Package Control.last-run
config/Library/Application Support/Sublime Text 3/Packages/User/Package Control.merged-ca-bundle
config/Library/Application Support/Sublime Text 3/Packages/User/Package Control.user-ca-bundle
config/Library/Application Support/Sublime Text 3/Packages/User/oscrypto-ca-bundle.crt
